:root {
    --cor-primaria: #e74c3c; /* vermelho */
    --cor-secundaria: #2c3e50; /* preto */
    --cor-botao-hover: #c0392b;
    --cor-botao-ativo: #a93226;
    --cor-botao-texto: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2c3e50; /* Cor de fundo preto */
    background-image: url('fundo2.jpeg.jpeg');
    background-size: cover; /* Ajuste para cobrir toda a tela */
    background-position: center;
    background-repeat: no-repeat; /* Não repetir a imagem */
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-form {
    background: rgba(255, 255, 255, 0.9); /* Fundo branco com transparência */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.22);
    width: 80%;
    max-width: 400px;
    font-size: larger;
    padding: 20px;
    border-radius: 10px;
    margin: 20px; /* Espaçamento adicional para destacar a div */
    color: #000000; /* Cor do texto preto */
}

.login-form input {
    width: 100%;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
    color: #000000; /* Cor do texto preto */
}

.login-form label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    color: #000000; /* Cor do texto preto */
}

.login-form button {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    background-color: #3498db; /* Cor de fundo do botão azul */
    color: #ffffff; /* Cor do texto branco */
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #2980b9; /* Cor de fundo do botão azul mais escuro no hover */
}

.login-form button:active {
    background-color: #2c3e50; /* Cor de fundo do botão azul mais escuro no clique */
    transform: translateY(3px);
}

.mensagem-validacao {
    display: none;
    justify-content: center;
    margin-top: 10px;
    color: #ffffff; /* Cor do texto branco */
}

.formulario {
    display: none;
    justify-content: center;
    text-align: center;
    color: #000000; /* Cor do texto preto */
}

.mensagem-cadastro {
    display: none;
    justify-content: center;
    color: #000000; /* Cor do texto preto */
}

.mensagem-cadastro.mostrar {
    display: flex;
    color: #000000; /* Cor do texto preto */
}
